html {
    min-height: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* POKÉMON CARD */

.pokemon {
    background-color: #f7f0f0;
    border: #ff5000 solid 1px;
    border-radius: 20px;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    min-width: 250px;
    overflow: hidden;
    transition: transform .2s;
    width: 250px;
}

.pokemon:hover {
    transform: scale(1.1);
}

.pokemon-img {
    background-color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    height: 250px;
}

.container-nro {
    display: flex;
    justify-content: center;
}

.pokemon-nro {
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    width: 50px;
}

.pokemon-nro h2 {
    font-size: 20px;
}

.pokemon img {
    padding: 20px;
    max-width: 100%;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding-bottom: 50px;
}

.pokemon-info {
    padding: 1rem;
}

.pokemon-name {
    align-items: center;
    display: flex;
    justify-content: center;
}

.pokemon-data {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.pokemon h2 {
    margin: 0;
}

span {
    font-size: 15px;
    font-weight: 600;
}

.card {
    margin-top: 10px !important;
}

hr {
    border-top: 2px solid #ff5000;
    margin-top: 4px;
    margin-bottom: 0px;
    width: 70%;
}

.hp {
    margin-top: 0px;
}

.hp-data {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.info-center {
    display: flex;
    justify-content: center;
}

.datos-name {
    align-items: center;
    background-color: rgba(255, 80, 0, .5);
    border-radius: 15px;
    color: white;
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin-top: 5px;
    width: 55px;
}

.icon-type {
    padding: 1px !important;
    width: 35px;
}


/* Navbar */

.bg-navbar {
    background-color: #ff5000;
    font-weight: 600;
}


/* Button */

.pagination button {
    background-color: rgba(255, 80, 0, .7);
    border-color: white;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    height: 40px;
    margin: 0px 20px 20px 20px;
    outline: none;
    width: 150px;
}

.pagination button:hover {
    background-color: rgba(255, 80, 0, .9);
}

.pagination button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: grey;
    text-decoration: none;
}

.button-pokeball img {
    width: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.search {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}


/* Footer */

.container-footer {
    align-content: center;
    background-color: #ff5000;
    bottom: 0;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.container-footer h6 {
    color: white;
    margin: 0;
}


/* Loader */

.loader {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 500px;
}

.loader img {
    animation: spin 1s linear infinite;
    width: 125px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}