html {
    min-height: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pokemon {
    background-color: #f7f0f0;
    border: #ff5000 solid 1px;
    border-radius: 20px;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 250px;
    overflow: hidden;
    transition: transform .2s;
    /* Animation */
}

.pokemon:hover {
    transform: scale(1.1);
}

.pokemon-img {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
    height: 250px;
}

.container-nro {
    display: flex;
    justify-content: center;
}

.pokemon-nro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    color: black;
}

.pokemon-nro h2 {
    font-size: 20px;
}

.pokemon img {
    padding: 20px;
    max-width: 100%;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 50px;
}

.pokemon-info {
    /* display: flex; */
    padding: 1rem;
}

.pokemon-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pokemon h2 {
    margin: 0;
}

span {
    font-size: 15px;
    font-weight: 600;
}

.bg-navbar {
    background-color: #ff5000;
    font-weight: 600;
}

.btn-back {
    background-color: white;
    color: #ff5000;
    font-weight: 600;
    border: solid 1px white;
}

.card {
    margin-top: 10px !important;
}

hr {
    margin-top: 4px;
    margin-bottom: 0px;
    width: 70%;
    border-top: 2px solid #ff5000;
}

.hp {
    margin-top: 0px;
}

.hp-data {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.info-center {
    display: flex;
    justify-content: center;
}

.datos-name {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    border-radius: 15px;
    background-color: rgba(255, 80, 0, .5);
    color: white;
    font-weight: 600;
}

.icon-type {
    padding: 1px !important;
    width: 35px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.search {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.pagination button {
    margin: 0px 20px 20px 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: rgba(255, 80, 0, .7);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    outline: none;
}

.pagination button:hover {
    background-color: rgba(255, 80, 0, .9);
}

.pagination button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: grey;
}

.container-footer {
    background-color: #ff5000;
    height: 40px;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container-footer h6 {
    color: white;
    margin: 0;
}

.button-pokeball img {
    width: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.loader img {
    width: 125px;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}